{% extends "layout.html" %}
{% block body %}
            <h1>View Individual Task</h1>
            <!-- <div class="tasklist">
                <ul>
                {% for task in tasks %}
                <li><a href={{ url_for("view_task", id=task['id']) }}>Task {{ task['id'] }}</a>: {{ task['title'] }}{% if task['completed_at'] %} &mdash; Completed {% else %} Uncompleted {% endif %}</li>
                {% endfor %}
                </ul>
            </div> -->
<form method ="POST" action={{ url_for("completed_task", task_id=task['id'])}}>
{{task['title'] }} <input type = "submit" value="completed"> </input>


</form>

           
{% endblock %}